@import "/app/mixins.scss";
.card-offer {
    position: relative;
    @include border-radius;
    @include shadow;
    background: linear-gradient(96deg, rgba(220, 229, 254, 0.2) 27.23%, rgba(220, 229, 254, 0) 100%);
    overflow: hidden;
    padding: 60px;
    @media screen and (max-width: 1480px) {
        padding: 40px;
    }
    @include breakpoint(small) {
        padding: 20px;
    }
    &__content {
        width: 60%;
        display: flex;
        flex-direction: column;
        @include breakpoint(large) {
            width: 65%;
        }
        @media screen and (max-width: 1480px) {
            width: 70%;
        }
        @media screen and (max-width: 1340px) {
            width: 75%;
        }
        @include breakpoint(medium) {
            width: 70%;
        }
        @media screen and (max-width: 1160px) {
            width: 75%;
        }
        @media screen and (max-width: 1040px) {
            width: 100%;
        }
    }
    &__image {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 40%;
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
        @include breakpoint(large) {
            width: 35%;
        }
        @media screen and (max-width: 1480px) {
            width: 30%;
        }
        @media screen and (max-width: 1340px) {
            width: 25%;
        }
        @include breakpoint(medium) {
            width: 30%;
        }
        @media screen and (max-width: 1160px) {
            width: 25%;
        }
        @media screen and (max-width: 1040px) {
            display: none;
        }
    }
    .title {
        margin-bottom: 10px;
        @include breakpoint(medium) {
            margin-bottom: 5px;
        }
        @include breakpoint(small) {
            margin-bottom: 0;
            font-weight: 500;
            br {
                display: none;
            }
        }
    }
    .subtitle {
        margin-bottom: 60px;
        @media screen and (max-width: 1480px) {
            margin-bottom: 40px;
        }
        @include breakpoint(medium) {
            margin-bottom: 30px;
        }
        @include breakpoint(small) {
            margin-bottom: 20px;
        }
    }
    ul {
        list-style: none;
        display: flex;
        margin-bottom: 60px;
        @media screen and (max-width: 1480px) {
            margin-bottom: 40px;
        }
        @include breakpoint(medium) {
            margin-bottom: 30px;
        }
        @include breakpoint(small) {
            flex-direction: column;
            margin-bottom: 20px;
        }
        li {
            padding-right: 30px;
            @media screen and (max-width: 1480px) {
                padding-right: 20px;
            }
            @include breakpoint(small) {
                padding-right: 0;
                padding-bottom: 20px;
            }
            &:nth-last-child(1) {
                padding-right: 0;
            }
        }
    }
}
