@import "/app/mixins.scss";

.modal {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 150;
    top: 0;
    overflow-y: auto;
    transition: visibility var(--transition-one);
    &_active {
        visibility: visible;
        .modal__content {
            transform: scale(1);
        }
    }

    &__overlay {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgb(43, 47, 51);
        opacity: 0.5;
        transition: opacity var(--transition-one);
    }

    &__container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        padding: 20px;
    }

    &__content {
        transform: scale(0);
        position: relative;
        background: #fff;
        max-width: 640px;
        width: 100%;
        transition: var(--transition-all);
        @include border-radius;
        padding: 50px 60px 60px;
        @include breakpoint(large) {
            padding: 30px 40px 40px;
            max-width: 540px;
        }
        @include breakpoint(medium) {
            max-width: 480px;
        }
        @include breakpoint(small) {
            padding: 30px;
            max-width: 420px;
        }
        @media screen and (max-width: 480px) {
            padding: 20px;
        }
    }
    &__close {
        position: absolute;
        top: 18px;
        right: 18px;
        width: 40px;
        height: 40px;
        padding: 10px;
        @include breakpoint(large) {
            top: 10px;
            right: 10px;
        }
        @include breakpoint(medium) {
            width: 36px;
            height: 36px;
        }
        @include breakpoint(small) {
            width: 32px;
            height: 32px;
            top: 8px;
            right: 8px;
        }
        &:hover,
        &:focus {
            span {
                &::before,
                &::after {
                    background-color: var(--color-blue);
                }
            }
        }
        span {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            &::before,
            &::after {
                position: absolute;
                content: "";
                background-color: var(--color-grey);
                transition: background-color var(--transition-one);
                top: calc(50% - 1px);
                right: calc(50% - 12px);
                width: 24px;
                height: 2px;
                @include breakpoint(medium) {
                    width: 20px;
                    right: calc(50% - 10px);
                }
                @include breakpoint(small) {
                    width: 18px;
                    right: calc(50% - 9px);
                }
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
}
