@import "/app/mixins.scss";
.title {
    font-family: var(--font-firsNeue);
    color: var(--color-black);
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    @include breakpoint(large) {
        font-size: 36px;
    }
    @include breakpoint(medium) {
        font-size: 32px;
    }
    @media screen and (max-width: 1000px) {
        font-size: 28px;
    }
    @media screen and (max-width: 480px) {
        font-size: 24px;
    }
    &_large {
        font-size: 64px;
        font-weight: 700;
        @include breakpoint(large) {
            font-size: 54px;
        }
        @include breakpoint(medium) {
            font-size: 42px;
        }
        @media screen and (max-width: 1000px) {
            font-size: 36px;
        }
        @include breakpoint(small) {
            font-size: 32px;
        }
    }
    &_small {
        font-family: var(--font-inter);
        font-size: 24px;
        font-weight: 600;
        @include breakpoint(large) {
            font-size: 20px;
        }
        @include breakpoint(medium) {
            font-size: 18px;
        }
        @include breakpoint(small) {
            font-size: 17px;
        }
    }
}
