@import "/app/mixins.scss";
.rich-wrapper {
    display: grid;
    gap: 30px;
    @include breakpoint(medium) {
        gap: 20px;
    }
    @include breakpoint(small) {
        gap: 12px;
    }
    .heading-box{
        margin-bottom: 0;
    }
}
